{% extends "base.html" %}

{% block sidebar %}

    <!-- {{ lib.updatecheck() }} -->

    {{ clock.digiclock('clock') }}

	  <div class="center">
        {{ clock.miniclock('', 'l, ' ~ lang('format','date') ) }}
    </div>

    <hr>

    {{ weather.current('weather') }}

    <hr>

    {{ weather.forecastweek('weather_forecast') }}
<!--
    <hr>

     {{ plot.temprose('temprose_eg',
        ['eg.heizen.kueche.ist', 'eg.heizen.wohnzimmer.ist', 'eg.heizen.wc.ist', 'eg.heizen.diele.ist'],
        ['eg.heizen.kueche.soll', 'eg.heizen.wohnzimmer.soll', 'eg.heizen.wc.soll', 'eg.heizen.diele.soll'],
        ['Küche', 'Wohnen', 'Gäste WC', 'Flur' ]) }}
	<br/>
     {{ plot.temprose('temprose_og',
        ['og.heizen.bad.ist', 'og.heizen.schlafzimmer.ist', 'og.heizen.kind_2.ist', 'og.heizen.kind_1.ist'],
        ['og.heizen.bad.soll', 'og.heizen.schlafzimmer.soll', 'og.heizen.kind_2.soll', 'og.heizen.kind_1.soll'],
        ['Bad', 'Schlafen', 'Moritz', 'Kind 2']) }}
	<br/>
     {{ plot.temprose('temprose_og',
        ['kg.heizen.multimedia.ist', 'kg.heizen.waschen.ist', 'kg.heizen.hobby.ist'],
        ['kg.heizen.multimedia.soll', 'kg.heizen.waschen.soll', 'kg.heizen.hobby.soll'],
        ['Hobby', 'Waschen / Trocknen', 'Werkstatt']) }}
     {{ plot.temprose('temprose_all',
        [
			'eg.heizen.kueche.ist', 'eg.heizen.wohnzimmer.ist', 'eg.heizen.wc.ist', 'eg.heizen.diele.ist',
			'og.heizen.bad.ist', 'og.heizen.schlafzimmer.ist', 'og.heizen.kind_2.ist', 'og.heizen.kind_1.ist',
			'kg.heizen.multimedia.ist', 'kg.heizen.waschen.ist', 'kg.heizen.hobby.ist'
		 ],
        [
			'eg.heizen.kueche.soll', 'eg.heizen.wohnzimmer.soll', 'eg.heizen.wc.soll', 'eg.heizen.diele.soll',
			'og.heizen.bad.soll', 'og.heizen.schlafzimmer.soll', 'og.heizen.kind_2.soll', 'og.heizen.kind_1.soll',
			'kg.heizen.multimedia.soll', 'kg.heizen.waschen.soll', 'kg.heizen.hobby.soll'
		],
        [
			'Küche', 'Wohnen', 'Gäste WC', 'Flur',
			'Bad', 'Schlafen', 'Moritz', 'Kind 2',
			'Hobby', 'Waschen / Trocknen', 'Werkstatt'
		]) }}
-->
    <hr>

    {{ phone.missedlist('phonelist', 'Telefonliste', 3) }}


{% endblock %}


{% block content %}

    {% include 'rooms_menu.html' %}

{% endblock %}

