@CHARSET "UTF-8";

/* display background only on larger displays */
@media all and (min-width: 600px) {
	.page-bg {
		background-image: url('../../pics/bg/smoke_spectrum.png');
	}
}

@media all and (min-width: 900px) {
	.block.one-third {
		width: 33%;
	}
}

.block.full-width {
	width: 100%;
}

.block.window-status .ui-fixed {
	min-height: 50px;
}

.window-status p {
	margin: 0 0 0 1em;
	text-align: left;
}

.ui-li-aside .symbol .icon {
	width: 32px;
	height: 32px;
}

.block .set-1 .ui-collapsible-content {
	min-height: 250px;
}

.block .set-4 .ui-collapsible-content {
	min-height: 110px;
	padding: 10px 5px 10px 5px;
}

div.ui-slider-switch {
	width: 4.8em;
}

.sunIcon {
	border: 0;
	padding: 0;
	vertical-align: text-bottom;
	width: 35px;
}

.moonIcon {
	border: 0;
	padding: 0;
	vertical-align: text-bottom;
	width: 35px;
}

.nav-custom .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}

.nav-custom .ui-btn .ui-icon {
	width: 30px !important;
	height: 30px !important;
	margin-left: -15px !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

.icon.trash-yellow {
	background-color: rgb(209, 209, 83);
}

.icon.trash-green {
	background-color: #32cd32;
}

.icon.trash-grey {
	background-color: dimgrey;
}

.icon.trash-brown {
	background-color: saddlebrown;
}

.icon.trash-blue {
	background-color: rgb(42, 106, 219);;
}

.nav-custom .heizung .ui-icon {
	background: url(../../icons/ws/sani_heating_temp.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .ehz .ui-icon {
	background: url(../../icons/ws/measure_power_meter.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .licht .ui-icon {
	background: url(../../icons/ws/light_light.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .rollos .ui-icon {
	background: url(../../icons/ws/fts_shutter.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .smarthome .ui-icon {
	background: url(../../icons/ws/time_graph.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .system .ui-icon {
	background: url(../../icons/ws/it_server.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .eingang .ui-icon {
	background: url(../../icons/ws/status_away_2.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .garten .ui-icon {
	background: url(../../icons/ws/scene_garden.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}

.nav-custom .garage .ui-icon {
	background: url(../../icons/ws/fts_garage.png) 50% 50% no-repeat;
	background-size: 36px 36px;
}