@CHARSET "UTF-8";

/* display background only on larger displays */
@media all and (min-width: 600px) {
	.page-bg {
		background-image: url('../../pics/bg/smoke_spectrum.png');
	}
}

.block {
    min-height: 1em;
}

.block.full-width {
	width: 100%;
}

.block.window-status .ui-fixed {
    min-height: 50px;
}

.block .set-1 .ui-collapsible-content {
    min-height: 250px;
}

.block .set-4 .ui-collapsible-content {
    min-height: 110px;
    padding: 10px 5px 10px 5px;
}