{% import "widgets/widget_garage_gate.html" as garage %}
{% extends "rooms.html" %}

{% block content %}
<h1><img class="icon" src='{{ icon0 }}control_building_outside.png' />Außenanlagen</h1>
<div data-role="navbar" class="nav-custom">
	<ul>
		<li><a href="index.php?page=floors/eg/eingang" class="eingang" data-icon="custom">Eingang</a></li>
		<li><a href="index.php?page=floors/eg/garten" class="garten" data-icon="custom">Garten</a></li>
		<li><a href="index.php?page=floors/eg/garage" class="ui-btn-active ui-state-persist garage" data-icon="custom">Garage</a></li>
	</ul>
</div>
<hr />	
<div class="block">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
		</div>
	</div>
</div>
<div class="block">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Tor</h3>
			{{ garage.gate('garageGate', '', 'garage.tor.auf', 'garage.tor.zu', 'garage.tor.offen', 'garage.tor.geschlossen') }}
		</div>
	</div>
</div>

{% endblock %}