{% extends "rooms.html" %}

{% block content %}
<h1><img class="icon" src='{{ icon0 }}control_building_outside.png' />Außenanlagen</h1>
<div data-role="navbar" class="nav-custom">
	<ul>
		<li><a href="index.php?page=floors/outdoor/eingang" class="eingang" data-icon="custom">Eingang</a></li>
		<li><a href="index.php?page=floors/outdoor/garage" class="garage" data-icon="custom">Garage</a></li>
		<li><a href="index.php?page=floors/outdoor/garten" class="ui-btn-active ui-state-persist garten" data-icon="custom">Garten</a></li>
	</ul>
</div>
<hr />
<div class="block">
	<div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Terasse</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtTerasse', 'aussen.licht.terrasse', icon1~'light_wall_2.png', icon0~'light_wall_2.png') }} </td>
					<td>Licht</td>
				</tr>
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdosenTerasse', 'aussen.steckdosen.terrasse', icon1~'message_socket.png', icon0~'message_socket.png') }} </td>
					<td>Steckdosen</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="block">
	<div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Beete</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtKugeln', 'aussen.licht.beete', icon1~'light_ball.png', icon0~'light_ball.png') }} </td>
					<td>Kugelleuchten</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- Szenen start -->
<div class="block">
	<div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Bewässerung (Szenen)</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('szeneBewaesserungGesamt', 'aussen.bewaesserung.gesamt.szene', icon1~'sani_irrigation_pop_up_on.png', icon0~'sani_irrigation_pop_up_off.png') }} </td>
					<td>Freigebene Flächen bewässern</td>
				</tr>
				<tr>
					<td align="left" width="100px">
						&nbsp; <a href="#popup1" data-rel="popup"><img class="icon" src="{{ icon0~'sani_irrigation_pop_up_on.png' }}" /></a>
						<div id="popup1" data-role="popup" style="width: 250px;">
							<table width="90%" style="margin: 0 auto;">
								<tr>
									<td align="left" width="60px">&nbsp; {{ basic.switch('szeneBewaesserungLinks', 'aussen.bewaesserung.regner.links.szene', icon1~'sani_irrigation_pop_up_on.png', icon0~'sani_irrigation_pop_up_off.png') }} </td>
									<td >Regner links</td>
								</tr>
								<tr>
									<td align="left" width="60px">&nbsp; {{ basic.switch('szeneBewaesserungRechts', 'aussen.bewaesserung.regner.rechts.szene', icon1~'sani_irrigation_pop_up_on.png', icon0~'sani_irrigation_pop_up_off.png') }} </td>
									<td >Regner rechts</td>
								</tr>
								<tr>
									<td align="left" width="60px">&nbsp; {{ basic.switch('szeneBewaesserungGarage', 'aussen.bewaesserung.regner.garage.szene', icon1~'sani_irrigation_pop_up_on.png', icon0~'sani_irrigation_pop_up_off.png') }} </td>
									<td >Regner Garage</td>
								</tr>
								<tr>
									<td align="left" width="60px">&nbsp; {{ basic.switch('szeneBewaesserungHecke', 'aussen.bewaesserung.tropfschlauch.hecke.szene', icon1~'sani_sprinkling.png', icon0~'sani_sprinkling.png') }} </td>
									<td >Hecke</td>
								</tr>
								<tr>
									<td align="left" width="60px">&nbsp; {{ basic.switch('szeneBewaesserungBeete', 'aussen.bewaesserung.tropfschlauch.beete.szene', icon1~'sani_sprinkling.png', icon0~'sani_sprinkling.png') }} </td>
									<td >Beete</td>
								</tr>
							</table>
						</div>
					</td>
					<td>Einzelne Flächen bewässern</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- Release -->
<div class="block">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Szenen-Freigabe</h3>
				<table width="90%">
					<tr>
						<td width="100px">{{ basic.flip('regnerLinksFreigabe', 'aussen.bewaesserung.regner.links.freigabe', '1', '0') }} </td>
						<td>Rasen links</td>
					</tr>
					<tr>
						<td width="100px">{{ basic.flip('regnerRechtsFreigabe', 'aussen.bewaesserung.regner.rechts.freigabe', '1', '0') }} </td>
						<td>Rasen rechts</td>
					</tr>
					<tr>
						<td width="100px">{{ basic.flip('regnerGarageFreigabe', 'aussen.bewaesserung.regner.garage.freigabe', '1', '0') }} </td>
						<td>Rasen Garage</td>
					</tr>
					<tr>
						<td width="100px">{{ basic.flip('schlauchHeckeFreigabe', 'aussen.bewaesserung.tropfschlauch.hecke.freigabe', '1', '0') }} </td>
						<td>Hecke</td>
					</tr>
					<tr>
						<td width="100px">{{ basic.flip('schlauchBeeteFreigabe', 'aussen.bewaesserung.tropfschlauch.beete.freigabe', '1', '0') }} </td>
						<td>Beete</td>
					</tr>
				</table>
		</div>
	</div>
</div>
<!-- Status-->
<div class="block full-width">
	<div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Bewässerung Status</h3>
			<div style="float: left; width: 150px; text-align: left;">
				{{ basic.symbol('statusRegnerLinksAn', 'aussen.bewaesserung.regner.links.status', 'Rasen links', icon1~'sani_irrigation_pop_up_on.png', 1) }}
				{{ basic.symbol('statusRegnerLinksAus', 'aussen.bewaesserung.regner.links.status', 'Rasen links', icon0~'sani_irrigation_pop_up_off.png', 0) }}
			</div>
			<div style="float: left; width: 150px; text-align: left;">
				{{ basic.symbol('statusRegnerRechtsAn', 'aussen.bewaesserung.regner.rechts.status', 'Rasen rechts', icon1~'sani_irrigation_pop_up_on.png', 1) }}
				{{ basic.symbol('statusRegnerRechtsAus', 'aussen.bewaesserung.regner.rechts.status', 'Rasen rechts', icon0~'sani_irrigation_pop_up_off.png', 0) }}
			</div>
			<div style="float: left; width: 150px; text-align: left;">
				{{ basic.symbol('statusRegnerGarageAn', 'aussen.bewaesserung.regner.garage.status', 'Rasen Garage', icon1~'sani_irrigation_pop_up_on.png', 1) }}
				{{ basic.symbol('statusRegnerGarageAus', 'aussen.bewaesserung.regner.garage.status', 'Rasen Garage', icon0~'sani_irrigation_pop_up_off.png', 0) }}
			</div>
			<div style="float: left; width: 150px; text-align: left;">
				{{ basic.symbol('statusSchlauchHeckeAn', 'aussen.bewaesserung.tropfschlauch.hecke.status', 'Hecke', icon1~'sani_sprinkling.png', 1) }}
				{{ basic.symbol('statusSchlauchHeckeAus', 'aussen.bewaesserung.tropfschlauch.hecke.status', 'Hecke', icon0~'sani_sprinkling.png', 0) }}
			</div>
			<div style="float: left; width: 150px; text-align: left;">
				{{ basic.symbol('statusSchlauchBeeteAn', 'aussen.bewaesserung.tropfschlauch.beete.status', 'Beete', icon1~'sani_sprinkling.png', 1) }}
				{{ basic.symbol('statusSchlauchBeeteAus', 'aussen.bewaesserung.tropfschlauch.beete.status', 'Beete', icon0~'sani_sprinkling.png', 0) }}
			</div>
		</div>
	</div>
</div>
<!-- Temperatur -->
<div class="block full-width">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Temperaturverlauf</h3>
			<!-- minmaxavg(id, gad, tmin, tmax, ymin, ymax, unit, axis, count) -->
			{{ plot.minmaxavg('tempOutdoor', 'zentral.wetter.temperatur', '7d', '', '', '', '°', ['', 'Temperatur in °C'], '7') }}
		</div>
	</div>
</div>

{% endblock %}