{% extends "rooms.html" %}

{% block content %}
<h1><img class="icon" src='{{ icon0 }}control_building_outside.png' />Außenanlagen</h1>
<div data-role="navbar" class="nav-custom">
	<ul>
		<li><a href="index.php?page=floors/outdoor/eingang" class="eingang" data-icon="custom">Eingang</a></li>
		<li><a href="index.php?page=floors/outdoor/garage" class="garage" data-icon="custom">Garage</a></li>
		<li><a href="index.php?page=floors/outdoor/garten" class="ui-btn-active ui-state-persist garten" data-icon="custom">Garten</a></li>
	</ul>
</div>
<hr />
<div class="block">
	<div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Terasse</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtTerasse', 'aussen.licht.terrasse', icon1~'light_wall_2.png', icon0~'light_wall_2.png') }} </td>
					<td>Licht</td>
				</tr>
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdosenTerasse', 'aussen.steckdosen.terrasse', icon1~'message_socket.png', icon0~'message_socket.png') }} </td>
					<td>Steckdosen</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="block">
	<div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Beete</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtKugeln', 'aussen.licht.beete', icon1~'light_ball.png', icon0~'light_ball.png') }} </td>
					<td>Kugelleuchten</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="block full-width">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Wetterverlauf</h3>
			{{ plot.period('tempOutdoor', 'zentral.wetter.temperatur', 'max', '7d', '', '', '', '', 'Außentemperatur', '#3366ff', 'line','Temperatur in °C') }}
		</div>
	</div>
</div>

{% endblock %}