{% extends "rooms.html" %}

{% block content %}
{% import "widgets/widget_rtr_extended.html" as ext %}
<h1><img class="icon" src="{{ icon0 }}scene_visit_guests.svg"/>Gästezimmer</h1>
<hr />

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
			{{ device.dimmer('lichtKind1Gesamt', 'Decke (gesamt)', 'og.licht.kind_1.gesamt', 'og.licht.kind_1.gesamt.dimmen') }}
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Heizung</h3>
			{{ ext.rtr('heizenkind1', '', 'og.heizen.kind_1.ist', '', '', 'og.heizen.kind_1.modus', 'og.heizen.kind_1.modus', 'og.heizen.kind_1.modus', 'og.heizen.kind_1.heizen') }}
			<br />
			{{ basic.symbol('statusFensterKind1Offen', 'og.fenster.kind_1', 'Fenster geöffnet', icon0~'fts_door_open.png', 1) }}
			{{ basic.symbol('statusFensterKind1Zu', 'og.fenster.kind_1', 'Fenster geschlossen', icon1~'fts_door.png', 0) }}
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">

		<div data-role="collapsible" data-collapsed="false">
			<h3>Rollladen</h3>
			{{ device.shutter('rolladenKind1', '', 'og.rollos.kind_1.fahren', 'og.rollos.kind_1.stop', 'og.rollos.kind_1.position') }}
		</div>

	</div>
</div>

<div class="block" style="width: 100%">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Temperaturverlauf</h3>
			{{ plot.rtr('rtrPlotKind1', 'og.heizen.kind_1.ist', 'og.heizen.kind_1.soll', 'og.heizen.kind_1.heizen')}}
		</div>
	</div>
</div>

{% endblock %}