{% extends "rooms.html" %}

{% block content %}
{% import "widgets/widget_rtr_extended.html" as ext %}
<h1><img class="icon" src="{{ icon0 }}scene_office.svg"/>Büro</h1>
<hr />

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
			{{ device.dimmer('lichtKind2Gesamt', 'Decke (gesamt)', 'og.licht.kind_2.gesamt', 'og.licht.kind_2.gesamt.dimmen') }}
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Heizung</h3>
			{{ ext.rtr('heizenKind2', '', 'og.heizen.kind_2.ist', '', '', 'og.heizen.kind_2.modus', 'og.heizen.kind_2.modus', 'og.heizen.kind_2.modus', 'og.heizen.kind_2.heizen') }}
			<br />
			{{ basic.symbol('statusFensterKind2Offen', 'og.fenster.kind_2', 'Fenster geöffnet', 'fts_door_open.svg', 1) }}
			{{ basic.symbol('statusFensterKind2Zu', 'og.fenster.kind_2', 'Fenster geschlossen', 'fts_door.svg', 0, 'or', 'icon1') }}
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">

		<div data-role="collapsible" data-collapsed="false">
			<h3>Rollladen</h3>
			{{ device.shutter('rolladenKind2', '', 'og.rollos.kind_2.fahren', 'og.rollos.kind_2.stop', 'og.rollos.kind_2.position') }}
		</div>

	</div>
</div>

<div class="block full-width">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Temperaturverlauf</h3>
			{{ plot.rtr('rtrPlotKind2', 'og.heizen.kind_2.ist', 'og.heizen.kind_2.soll', 'og.heizen.kind_2.heizen')}}
		</div>
	</div>
</div>

{% endblock %}