{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}scene_stairs.svg'/>
        Flur / Nebenraum
    </h1>
    <hr />

    <div class="block">
        <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Licht</h3>
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'kg.licht.diele', 'icon', [0, 1], 'light_ceiling_light.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Decke</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'kg.licht.treppe.wand', 'icon', [0, 1], 'light_stairs.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Treppe</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'kg.licht.vorrat', 'icon', [0, 1], 'light_ceiling_light.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Vorratsraum</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<div class="block">
    <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
        <div data-role="collapsible" data-collapsed="false">
            <h3>Orientierungsleuchten</h3>
            <table width="90%">
                <tr>
                    <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eg.licht.treppe.wand', 'icon', [0, 1], 'light_stairs.svg', '', ['icon0', 'icon1']) }} </td>
                    <td>Treppe KG</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

