{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}scene_cinema.svg'/>
        Kino / Büro
    </h1>
    <hr />

    <div class="block">
        <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Licht</h3>
                {{ device.dimmer('', 'Gesamt', 'kg.licht.multimedia.gesamt', 'kg.licht.multimedia.gesamt.dimmen', '', '', '', 'light_light_dim_100.svg', 'light_light.svg') }}
                {{ device.dimmer('', 'Galerie', 'kg.licht.multimedia.galerie', 'kg.licht.multimedia.galerie.dimmen', '', '', '', 'light_light_dim_100.svg', 'light_light.svg') }}
                {{ device.dimmer('', 'Decke', 'kg.licht.multimedia.decke', 'kg.licht.multimedia.decke.dimmen', '', '', '', 'light_light_dim_100.svg', 'light_light.svg') }}
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Heizung</h3>
                {{ device.rtr('', '', 'kg.heizen.multimedia.ist', '', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.modus', '', '', '', '', [ icon.heating('','','kg.heizen.multimedia.stellwert', 0, 90) ]) }}
                {{ basic.symbol('', 'kg.fenster.multimedia', ['Fenster geschlossen', 'Fenster geöffnet'], ['fts_window_2w.svg','fts_window_2w_open_lr.svg'], [0,1], 'or', ['lime','red']) }}
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Steckdosen</h3>
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'kg.steckdosen.multimedia.audio', 'icon', [0, 1], 'it_nas.svg', '', ['icon0', 'icon1']) }} </td><td>Audio / PC</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'kg.steckdosen.multimedia.beamer', 'icon', [0, 1], 'scene_cinema.svg', '', ['icon0', 'icon1']) }} </td><td>Beamer</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'kg.steckdosen.multimedia.zweiundsechzig', 'icon', [0, 1], 'message_socket.svg', '', ['icon0', 'icon1']) }}</td><td>Schrank</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'kg.steckdosen.multimedia.dreiundsechzig', 'icon', [0, 1], 'message_socket.svg', '', ['icon0', 'icon1']) }}</td><td>Leinwand</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Rollladen</h3>
                <table class="centered">
                    <tr>
                        <td>
                            {{ device.shutter('', '', 'kg.rollos.multimedia.fahren', 'kg.rollos.multimedia.stop', 'kg.rollos.multimedia.position') }}
                        </td>
                        <td>
                            {{ basic.stateswitch('', 'kg.rollos.multimedia.sperre', '', [0, 1], ['secur_open.svg', 'secur_locked.svg'], '', ['icon1', 'red']) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block full-width">
        <h3>Temperaturverlauf</h3>
        {{ plot.rtr('', 'kg.heizen.multimedia.ist', 'kg.heizen.multimedia.soll', 'kg.heizen.multimedia.heizen') }}
    </div>
{% endblock %}

