{% extends "rooms.html" %}

{% block content %}
{% import "widgets/widget_rtr_extended.html" as ext %}
<h1><img class="icon" src="{{ icon0 }}scene_stairs.svg"/>Flur</h1>
<hr />
<div class="block full-width">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtKGFlurDecke', 'kg.licht.diele', icon1~'light_ceiling_light.png', icon0~'light_ceiling_light.png') }} </td>
					<td>Decke</td>
				</tr>
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtKGFlurTreppe', 'kg.licht.treppe.wand', icon1~'light_stairs.png', icon0~'light_stairs.png') }} </td>
					<td>Treppe</td>
				</tr>
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtKGFlurVorrat', 'kg.licht.vorrat', icon1~'light_ceiling_light.png', icon0~'light_ceiling_light.png') }} </td>
					<td>Vorratsraum</td>
				</tr>
			</table>
		</div>
	</div>
</div>
		
{% endblock %}

