{% extends "rooms.html" %}

{% block content %}
{% import "widgets/widget_rtr_extended.html" as ext %}
<h1><img class="icon" src="{{ icon0 }}scene_workshop.svg"/>Werkstatt</h1>
<hr />
<div class="block" >
	<div class="set-3" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('lichtHobbyDecke', 'kg.licht.hobby', icon1~'light_ceiling_light.png', icon0~'light_ceiling_light.png') }} </td>
					<td>Decke</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-3" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Heizung</h3>
			{{ ext.rtr('heizenHobby', '', 'kg.heizen.hobby.ist', '', '', 'kg.heizen.hobby.modus', 'kg.heizen.hobby.modus', 'kg.heizen.hobby.modus', 'kg.heizen.hobby.heizen') }}
			<br />
			{{ basic.symbol('statusFensterHobbyOffen', 'kg.fenster.hobby', 'Fenster geöffnet', icon0~'fts_window_2w_open_lr.png', 1) }}
			{{ basic.symbol('statusFensterHobbyZu', 'kg.fenster.hobby', 'Fenster geschlossen', icon1~'fts_window_2w.png', 0) }}
		</div>
	</div>
</div>

<div class="block full-width">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Temperaturverlauf</h3>
			{{ plot.rtr('rtrPlotHobby', 'kg.heizen.hobby.ist', 'kg.heizen.hobby.soll', 'kg.heizen.hobby.heizen')}}
		</div>
	</div>
</div>
{% endblock %}