{% extends "rooms.html" %}

{% block content %}
{% import "widgets/widget_rtr_extended.html" as ext %}
<h1><img class="icon" src="{{ icon0 }}scene_cinema.png"/>Hobby MULTIMEDIA</h1>
<hr />
<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
			Inhalt folgt....
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Heizung</h3>
			{{ ext.rtr('heizenMultimedia', '', 'kg.heizen.multimedia.ist', '', '', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.heizen') }}
			<br />
			{{ basic.symbol('statusFensterMultimediaOffen', 'kg.fenster.multimedia', 'Fenster geöffnet', icon0~'fts_window_2w_open_lr.png', 1) }}
			{{ basic.symbol('statusFensterMultimediaZu', 'kg.fenster.multimedia', 'Fenster geschlossen', icon1~'fts_window_2w.png', 0) }}
		</div>
	</div>
</div>

<div class="block" style="width: 100%">
	<div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Steckdosen</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimediaAudio', 'kg.steckdosen.multimedia.audio', icon1~'message_socket.png', icon0~'message_socket.png') }} </td><td>Audio</td>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimediaBeamer', 'kg.steckdosen.multimedia.beamer', icon1~'message_socket.png', icon0~'message_socket.png') }} </td><td>Beamer</td>
				</tr>
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimedia3', 'kg.steckdosen.multimedia.zweiundsechzig', icon1~'message_socket.png', icon0~'message_socket.png') }} </td><td>Schrank</td>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimedia4', 'kg.steckdosen.multimedia.dreiundsechzig', icon1~'message_socket.png', icon0~'message_socket.png') }} </td><td>Leinwand</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Rollladen</h3>
			{{ device.shutter('rolladenMultimedia', '', 'kg.rollos.multimedia.fahren', 'kg.rollos.multimedia.stop', 'kg.rollos.multimedia.position') }}
		</div>

	</div>
</div>

<div class="block" style="width: 100%">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Temperaturverlauf</h3>
			{{ plot.rtr('rtrPlotMultimedia', 'kg.heizen.multimedia.ist', 'kg.heizen.multimedia.soll', 'kg.heizen.multimedia.heizen')}}
		</div>
	</div>
</div>

{% endblock %}