{% extends "rooms.html" %}

{% block content %}
{% import "widgets/widget_rtr_extended.html" as ext %}
<h1><img class="icon" src="{{ icon0 }}scene_cinema.png"/>Hobby MULTIMEDIA</h1>
<hr />
<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
			Inhalt folgt....
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Heizung</h3>
			{{ ext.rtr('heizenMultimedia', '', 'eg.heizen.multimedia.ist', '', '', 'eg.heizen.multimedia.modus', 'eg.heizen.multimedia.modus', 'eg.heizen.multimedia.modus', 'eg.heizen.multimedia.heizen') }}
			<br />
			{{ basic.symbol('statusFensterMultimediaOffen', 'eg.fenster.multimedia', 'Fenster geöffnet', icon0~'fts_window_2w_open_lr.png', 1) }}
			{{ basic.symbol('statusFensterMultimediaZu', 'eg.fenster.multimedia', 'Fenster geschlossen', icon1~'fts_window_2w.png', 0) }}
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Rollladen</h3>
			{{ device.shutter('rolladenMULTIMEDIA', '', 'eg.rollos.multimedia.fahren', 'eg.rollos.multimedia.stop', 'eg.rollos.multimedia.position') }}
		</div>

	</div>
</div>

<div class="block" style="width: 100%">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Temperaturverlauf</h3>
			{{ plot.rtr('rtrPlotMultimedia', 'eg.heizen.multimedia.ist', 'eg.heizen.multimedia.soll', 'eg.heizen.multimedia.heizen')}}
		</div>
	</div>
</div>

{% endblock %}