{% extends "rooms.html" %}

{% block content %}
{% import "widgets/widget_rtr_extended.html" as ext %}
<h1><img class="icon" src="{{ icon0 }}scene_cinema.svg"/>Hobby MULTIMEDIA</h1>
<hr />
<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Licht</h3>
			{{ device.dimmer('lichtMultimediaGesamt', 'Gesamt', 'kg.licht.multimedia.gesamt', 'kg.licht.multimedia.gesamt.dimmen') }}
			{{ device.dimmer('lichtMultimediaGalerie', 'Galerie', 'kg.licht.multimedia.galerie', 'kg.licht.multimedia.galerie.dimmen') }}
			{{ device.dimmer('lichtMultimediaDecke', 'Decke', 'kg.licht.multimedia.decke', 'kg.licht.multimedia.decke.dimmen') }}
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Heizung</h3>
			{{ ext.rtr('heizenMultimedia', '', 'kg.heizen.multimedia.ist', '', '', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.modus', 'kg.heizen.multimedia.heizen') }}
			<br />
			{{ basic.symbol('statusFensterMultimediaOffen', 'kg.fenster.multimedia', 'Fenster geöffnet', 'fts_window_2w_open_lr.svg', 1) }}
			{{ basic.symbol('statusFensterMultimediaZu', 'kg.fenster.multimedia', 'Fenster geschlossen', 'fts_window_2w.svg', 0, 'or', 'icon1') }}
		</div>
	</div>
</div>

<div class="block full-width">
	<div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Steckdosen</h3>
			<table width="90%">
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimediaAudio', 'kg.steckdosen.multimedia.audio', 'message_socket.svg', 'message_socket.svg') }} </td><td>Audio</td>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimediaBeamer', 'kg.steckdosen.multimedia.beamer', 'message_socket.svg', 'message_socket.svg') }} </td><td>Beamer</td>
				</tr>
				<tr>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimedia3', 'kg.steckdosen.multimedia.zweiundsechzig', 'message_socket.svg', 'message_socket.svg') }} </td><td>Schrank</td>
					<td align="left" width="100px">&nbsp; {{ basic.switch('steckdoseMultimedia4', 'kg.steckdosen.multimedia.dreiundsechzig', 'message_socket.svg', 'message_socket.svg') }} </td><td>Leinwand</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="block" >
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Rollladen</h3>
			{{ device.shutter('rolladenMultimedia', '', 'kg.rollos.multimedia.fahren', 'kg.rollos.multimedia.stop', 'kg.rollos.multimedia.position') }}
		</div>

	</div>
</div>

<div class="block full-width">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Temperaturverlauf</h3>
			{{ plot.rtr('rtrPlotMultimedia', 'kg.heizen.multimedia.ist', 'kg.heizen.multimedia.soll', 'kg.heizen.multimedia.heizen')}}
		</div>
	</div>
</div>

{% endblock %}