{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}scene_shower.svg'/>
        Badezimmer
    </h1>
    <hr />

    <div class="block">
        <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Licht</h3>
                {{ device.dimmer('', 'Decke', 'og.licht.bad.decke', 'og.licht.bad.decke.dimmen', '', '', '', 'light_light_dim_100.svg', 'light_light.svg') }}
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'og.licht.bad.dusche', 'icon', [0, 1], 'light_ceiling_light.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Dusche</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'og.licht.bad.spiegel', 'icon', [0, 1], 'light_mirror.svg', '', ['icon0', 'icon1']) }}</td>
                        <td>Spiegel</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'og.steckdosen.bad.waschtisch', 'icon', [0, 1], 'light_wall_2.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Toilette</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Heizung</h3>
                {{ device.rtr('', '', 'og.heizen.bad.ist', '', 'og.heizen.bad.modus', 'og.heizen.bad.modus', 'og.heizen.bad.modus', '', '', '', '', [ icon.heating('','','og.heizen.bad.stellwert', 0, 90) ]) }}
                {{ basic.symbol('', 'og.fenster.bad.fenster', ['Fenster geschlossen', 'Fenster geöffnet'], ['fts_window_2w.svg','fts_window_2w_open_lr.svg'], [0,1], 'or', ['lime','red']) }}
                <br />
                {{ basic.symbol('', 'og.fenster.bad.velux', ['Velux geschlossen', 'Velux geöffnet'], ['fts_window_roof.svg','fts_window_roof_open_2.svg'], [0,1], 'or', ['lime','red']) }}
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Rollladen Fenster</h3>
                <table class="centered">
                    <tr>
                        <td>
                            {{ device.shutter('', '', 'og.rollos.bad.fenster.fahren', 'og.rollos.bad.fenster.stop', 'og.rollos.bad.fenster.position') }}
                        </td>
                        <td>
                            {{ basic.stateswitch('', 'og.rollos.bad.fenster.sperre', '', [0, 1], ['secur_open.svg', 'secur_locked.svg'], '', ['icon1', 'red']) }}
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Rollladen Velux</h3>
                {{ device.shutter('', '', 'og.rollos.bad.velux.fahren', 'og.rollos.bad.velux.stop', 'og.rollos.bad.velux.position') }}
            </div>

        </div>
    </div>

    <h3>Temperaturverlauf</h3>
    {{ plot.rtr('', 'og.heizen.bad.ist', 'og.heizen.bad.soll', 'og.heizen.bad.heizen') }}

{% endblock %}

