{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}scene_childs_room.svg'/>
        Moritz
    </h1>
    <hr />

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Schalten</h3>
                {{ device.dimmer('', 'Decke (Gesamt)', 'og.licht.kind_2.gesamt', 'og.licht.kind_2.gesamt.dimmen', '', '', '', 'light_light_dim_100.svg', 'light_light.svg') }}
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Heizung</h3>
                {{ device.rtr('', '', 'og.heizen.kind_2.ist', '', 'og.heizen.kind_2.modus', 'og.heizen.kind_2.modus', 'og.heizen.kind_2.modus', '', '', '', '', [ icon.heating('','','og.heizen.kind_2.stellwert', 0, 90) ]) }}
                {{ basic.symbol('', 'og.fenster.kind_2', ['Fenster geschlossen', 'Fenster geöffnet'], ['fts_door.svg','fts_door_open.svg'], [0,1], 'or', ['lime','red']) }}
            </div>
        </div>
    </div>

    <div class="block full-width">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Rollladen</h3>
                <table class="centered">
                    <tr>
                        <td>
                            {{ device.shutter('', '', 'og.rollos.kind_2.fahren', 'og.rollos.kind_2.stop', 'og.rollos.kind_2.position') }}
                        </td>
                        <td>
                            {{ basic.stateswitch('', 'og.rollos.kind_2.sperre', '', [0, 1], ['secur_open.svg', 'secur_locked.svg'], '', ['icon1', 'red']) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="block full-width">
        <h3>Temperaturverlauf</h3>
        {{ plot.rtr('', 'og.heizen.kind_2.ist', 'og.heizen.kind_2.soll', 'og.heizen.kind_2.heizen') }}
    </div>
{% endblock %}

