{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}scene_sleeping_alternat.svg'/>
        Schlafzimmer
    </h1>
    <hr />

    <div class="block">
        <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Licht</h3>
                {{ device.dimmer('', 'Decke', 'og.licht.schlafzimmer.decke', 'og.licht.schlafzimmer.decke.dimmen', '', '', '', 'light_light_dim_100.svg', 'light_light.svg') }}
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'og.steckdosen.schlafzimmer.bett_rechts', 'icon', [0, 1], 'light_bedside.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Nachttisch Lars</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'og.steckdosen.schlafzimmer.bett_links', 'icon', [0, 1], 'light_bedside.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Nachttisch Sarah</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'og.licht.schlafzimmer.schrank', 'icon', [0, 1], 'light_dressing_room.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Kleiderschrank</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-1" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Heizung</h3>
                {{ device.rtr('', '', 'og.heizen.schlafzimmer.ist', '', 'og.heizen.schlafzimmer.modus', 'og.heizen.schlafzimmer.modus', 'og.heizen.schlafzimmer.modus', '', '', '', '', [ icon.heating('','','og.heizen.schlafzimmer.stellwert', 0, 90) ]) }}
                {{ basic.symbol('', 'og.fenster.schlafzimmer', ['Fenster geschlossen', 'Fenster geöffnet'], ['fts_window_2w.svg','fts_window_2w_open_lr.svg'], [0,1], 'or', ['lime','red']) }}
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Rollladen Fenster</h3>
                <table class="centered">
                    <tr>
                        <td>
                            {{ device.shutter('', '', 'og.rollos.schlafzimmer.fenster.fahren', 'og.rollos.schlafzimmer.fenster.stop', 'og.rollos.schlafzimmer.fenster.position') }}
                        </td>
                        <td>
                            {{ basic.stateswitch('', 'og.rollos.schlafzimmer.fenster.sperre', '', [0, 1], ['fts_shutter_unlocked.svg', 'fts_shutter_locked.svg'], '', ['icon1', 'red']) }}
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Rollladen Tür</h3>
                <table class="centered">
                    <tr>
                        <td>
                            {{ device.shutter('', '', 'og.rollos.schlafzimmer.gaube.fahren', 'og.rollos.schlafzimmer.gaube.stop', 'og.rollos.schlafzimmer.gaube.position') }}
                        </td>
                        <td>
                            {{ basic.stateswitch('', 'og.rollos.schlafzimmer.gaube.sperre', '', [0, 1], ['fts_shutter_unlocked.svg', 'fts_shutter_locked.svg'], '', ['icon1', 'red']) }}
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="block full-width">
        <h3>Temperaturverlauf</h3>
        {{ plot.rtr('', 'og.heizen.schlafzimmer.ist', 'og.heizen.schlafzimmer.soll', 'og.heizen.schlafzimmer.heizen') }}
    </div>
{% endblock %}

