{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}scene_stairs.svg'/>
        Flur / Treppe
    </h1>
    <hr />

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Licht</h3>
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eg.licht.diele.decke', 'icon', [0, 1], 'light_ceiling_light.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Decke</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eg.steckdosen.diele.leuchte', 'icon', [0, 1], 'light_bedside.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Sideboard</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eg.licht.treppe.wand', 'icon', [0, 1], 'light_stairs.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Treppe</td>
                    </tr>
                </table>
            </div>
            <div data-role="collapsible" data-collapsed="true">
                <h3>Orientierungsleuchten</h3>
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eg.licht.diele.decke', 'icon', [0, 1], 'light_corridor.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Flur</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eg.steckdosen.diele.leuchte', 'icon', [0, 1], 'light_stairs.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Treppe OG</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eg.licht.treppe.wand', 'icon', [0, 1], 'light_stairs.svg', '', ['icon0', 'icon1']) }} </td>
                        <td>Treppe KG</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Heizung</h3>
                {{ device.rtr('diele.device.rtr', '', 'eg.heizen.diele.ist', '', 'eg.heizen.diele.modus', 'eg.heizen.diele.modus', 'eg.heizen.diele.modus', '', '', '', '', [ icon.heating('','','eg.heizen.diele.stellwert', 0, 90) ]) }}
                {{ basic.symbol('diele.fenster.status', 'eg.fenster.diele', ['Fenster geschlossen', 'Fenster geöffnet'], ['fts_window_2w.svg','fts_window_2w_open_lr.svg'], [0,1], 'or', ['lime','red']) }}
            </div>
        </div>
    </div>

    <div class="block full-width">
        <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Rollladen</h3>
                <table class="centered">
                    <tr>
                        <td>
                            {{ device.shutter('', '', 'eg.rollos.diele.fahren', 'eg.rollos.diele.stop', 'eg.rollos.diele.position') }}
                        </td>
                        <td>
                            {{ basic.stateswitch('', 'eg.rollos.diele.sperre', '', [0, 1], ['secur_open.svg', 'secur_locked.svg'], '', ['icon1', 'red']) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block full-width">
        <h3>Temperaturverlauf</h3>
        {{ plot.rtr('', 'eg.heizen.diele.ist', 'eg.heizen.diele.soll', 'eg.heizen.diele.heizen')}}
    </div>
{% endblock %}

