{% extends "stats.html" %}
{% block content %}
<h1>
    <img class="icon icon0" src='{{ icon0 }}sani_heating_temp.svg'/>
    Heizung
</h1>
<hr />

<div class="block one-third window-status">
    <div class="ui-bar-c ui-li-divider ui-corner-top">Erdgeschoss</div>
    <div class="ui-fixed ui-body-a ui-corner-bottom">
        <div class="">{{ device.rtr('', 'Küche', 'eg.heizen.kueche.ist', 'eg.heizen.kueche.sollwertverschiebung', '', '', '', '', '', '', 'eg.heizen.kueche.soll' ) }}</div>
        <div class="">{{ device.rtr('', 'Wohnzimmer', 'eg.heizen.wohnen.ist', 'eg.heizen.wohnen.sollwertverschiebung', '', '', '', '', '', '', 'eg.heizen.wohnen.soll' ) }}</div>
        <div class="">{{ device.rtr('', 'Gäste WC', 'eg.heizen.wc.ist', 'eg.heizen.wc.sollwertverschiebung', '', '', '', '', '', '', 'eg.heizen.wc.soll' ) }}</div>
        <div class="">{{ device.rtr('', 'Flur', 'eg.heizen.diele.ist', 'eg.heizen.diele.sollwertverschiebung', '', '', '', '', '', '', 'eg.heizen.diele.soll' ) }}</div>
        <br/>
        <div>
            {{ plot.temprose('temprose_eg',
            ['eg.heizen.kueche.ist', 'eg.heizen.wohnzimmer.ist', 'eg.heizen.wc.ist', 'eg.heizen.diele.ist'],
            ['eg.heizen.kueche.soll', 'eg.heizen.wohnzimmer.soll', 'eg.heizen.wc.soll', 'eg.heizen.diele.soll'],
            ['Küche', 'Wohnen', 'Gäste WC', 'Flur' ]) }}
        </div>
    </div>
</div>

<div class="block one-third window-status">
    <div class="ui-bar-c ui-li-divider ui-corner-top">Obergeschoss</div>
    <div class="ui-fixed ui-body-a ui-corner-bottom">
        <div class="">{{ device.rtr('', 'Bad', 'og.heizen.bad.ist', 'og.heizen.bad.sollwertverschiebung', '', '', '', '', '', '', 'og.heizen.bad.soll' ) }}</div>
        <div class="">{{ device.rtr('', 'Schlafzimmer', 'og.heizen.schlafen.ist', 'og.heizen.schlafen.sollwertverschiebung', '', '', '', '', '', '', 'og.heizen.schlafen.soll' ) }}</div>
        <div class="">{{ device.rtr('', 'Moritz', 'og.heizen.kind_2.ist', 'og.heizen.kind_2.sollwertverschiebung', '', '', '', '', '', '', 'og.heizen.kind_2.soll' ) }}</div>
        <div class="">{{ device.rtr('', 'Kind 2', 'og.heizen.kind_1.ist', 'og.heizen.kind_1.sollwertverschiebung', '', '', '', '', '', '', 'og.heizen.kind_1.soll' ) }}</div>
        <br/>
        <div>
            {{ plot.temprose('temprose_og',
            ['og.heizen.bad.ist', 'og.heizen.schlafzimmer.ist', 'og.heizen.kind_2.ist', 'og.heizen.kind_1.ist'],
            ['og.heizen.bad.soll', 'og.heizen.schlafzimmer.soll', 'og.heizen.kind_2.soll', 'og.heizen.kind_1.soll'],
            ['Bad', 'Schlafen', 'Moritz', 'Kind 2']) }}
        </div>
    </div>
</div>

<div class="block one-third window-status">
    <div class="ui-bar-c ui-li-divider ui-corner-top">Keller</div>
    <div class="ui-fixed ui-body-a ui-corner-bottom">
        <div class="">{{ device.rtr('', 'Hobby', 'kg.heizen.multimedia.ist', 'kg.heizen.multimedia.sollwertverschiebung', '', '', '', '', '', '', 'kg.heizen.hobby.bad.soll') }}</div>
        <div class="">{{ device.rtr('', 'Waschen / Trocknen', 'kg.heizen.waschen.ist', 'kg.heizen.waschen.sollwertverschiebung', '', '', '', '', '', '', 'kg.heizen.hobby.bad.soll') }}</div>
        <div class="">{{ device.rtr('', 'Werkstatt', 'kg.heizen.hobby.ist', 'kg.heizen.hobby.sollwertverschiebung', '', '', '', '', '', '', 'kg.heizen.hobby.bad.soll') }}</div>
        <div style="height: 115px;">&nbsp;</div>
        <br/>
        <div>
            {{ plot.temprose('temprose_og',
            ['kg.heizen.multimedia.ist', 'kg.heizen.waschen.ist', 'kg.heizen.hobby.ist'],
            ['kg.heizen.multimedia.soll', 'kg.heizen.waschen.soll', 'kg.heizen.hobby.soll'],
            ['Hobby', 'Waschen / Trocknen', 'Werkstatt']) }}
        </div>
    </div>
</div>

<hr/>
<div class="block full-width">
    <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
        <div data-role="collapsible" data-collapsed="false">
            <h3>Temperaturverlauf Erdgeschoss</h3>
            {{ plot.period('tempEG', ['eg.heizen.kueche.ist', 'eg.heizen.wohnzimmer.ist','eg.heizen.wc.ist','eg.heizen.diele.ist'], 'max', '7d', '', '15', '25', '', ['Küche', 'Wohnzimmer','Gäste WC','Flur'], ['#3366ff', '#ff3366', '#ffff33', '#33ffff'], ['line', 'line', 'line', 'line'],['Temperatur in °C', ''] ) }}
        </div>
    </div>
</div>

<div class="block full-width">
    <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
        <div data-role="collapsible" data-collapsed="false">
            <h3>Temperaturverlauf Obergeschoss</h3>
            {{ plot.period('tempOG', ['og.heizen.kind_2.ist', 'og.heizen.kind_1.ist','og.heizen.schlafzimmer.ist','og.heizen.bad.ist'], 'max', '7d', '', '15', '25', '', ['Büro', 'Gästezimmer','Schlafzimmer','Bad'], ['#3366ff', '#ff3366', '#ffff33', '#33ffff'], ['line', 'line', 'line', 'line'],['Temperatur in °C', ''] ) }}
        </div>
    </div>
</div>

<div class="block full-width">
    <div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
        <div data-role="collapsible" data-collapsed="false">
            <h3>Temperaturverlauf Keller</h3>
            {{ plot.period('tempKG', ['kg.heizen.multimedia.ist', 'kg.heizen.waschen.ist','kg.heizen.hobby.ist'], 'max', '7d', '', '15', '25', '', ['Hobby', 'Waschen','Werkstatt'], ['#3366ff', '#ff3366', '#ffff33'], ['line', 'line', 'line'],['Temperatur in °C', ''] ) }}
        </div>
    </div>
</div>
{% endblock %}