{% extends "stats.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}light_light.svg'/>
        Licht
    </h1>
    <hr />
    <div class="block full-width">
        <div class="ui-bar-c ui-li-divider ui-corner-top">Zentral aus</div>
        <div class="ui-fixed ui-body-a ui-corner-bottom" style="min-height: 50px">
            {{ basic.stateswitch('', 'zentral.aus', 'midi', 0, 'control_on_off.svg') }}
        </div>
    </div>
    <div class="block one-third window-status">
        <div class="ui-bar-c ui-li-divider ui-corner-top">Status Erdgeschoss</div>
        <div class="ui-fixed ui-body-a ui-corner-bottom">
            <p>{{ basic.symbol('', ['eg.licht.treppe.wand', 'eg.licht.diele.decke', 'eg.licht.wc.decke', 'eg.licht.wc.spiegel', 'eg.licht.kueche.vorrat','eg.steckdosen.kueche.radio','eg.licht.kueche.essen', 'eg.steckdosen.kueche.arbeitsplatte', 'eg.licht.wohnzimmer.sofa', 'eg.licht.wohnzimmer.essen', 'eg.licht.wohnzimmer.wand', 'eg.steckdosen.wohnzimmer.einundsechzig', 'eg.steckdosen.wohnzimmer.zweiundsechzig', 'eg.steckdosen.wohnzimmer.vierundsechzig', 'eg.steckdosen.wohnzimmer.sechsundsechzig'], 'Alles ausgeschaltet.', 'message_ok.svg', 0, 'and', 'icon1') }}</p>
            <p>{{ basic.symbol('', ['eg.licht.wohnzimmer.sofa', 'eg.licht.wohnzimmer.essen', 'eg.licht.wohnzimmer.wand'], 'Wohnzimmer: Licht an.', 'scene_livingroom.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', ['eg.steckdosen.wohnzimmer.tv', 'eg.steckdosen.wohnzimmer.fenster', 'eg.steckdosen.wohnzimmer.sitzbereich', 'eg.steckdosen.wohnzimmer.audio','eg.steckdosen.wohnzimmer.essbereich'], 'Wohnzimmer: Steckdose aktiv.', 'message_socket.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', ['eg.licht.kueche.essen', 'eg.steckdosen.kueche.arbeitsplatte'], 'Küche: Licht an.', 'scene_dinner.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'eg.steckdosen.kueche.radio', 'Küche: Radio eingeschaltet.', 'message_socket.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'eg.licht.kueche.vorrat', 'Vorrat: Licht an.', 'scene_cubby.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', ['eg.licht.wc.decke', 'eg.licht.wc.spiegel'], 'Gäste-WC: Licht an.', 'scene_shower.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', ['eg.licht.diele.decke'], 'Flur: Licht an.', 'scene_corridor.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', ['eg.licht.treppe.wand'], 'Treppenhaus: Licht an.', 'scene_stairs.svg', 1, 'or') }}</p>
        </div>
    </div>

    <div class="block one-third window-status">
        <div class="ui-bar-c ui-li-divider ui-corner-top">Status Obergeschoss</div>
        <div class="ui-fixed ui-body-a ui-corner-bottom">
            <p>{{ basic.symbol('', ['og.licht.bad.decke', 'og.licht.bad.dusche', 'og.licht.bad.spiegel', 'og.steckdosen.bad.waschtisch', 'og.licht.kind_1.gesamt', 'og.licht.kind_2.gesamt', 'og.licht.schlafzimmer.decke', 'og.steckdosen.schlafzimmer.bett_rechts', 'og.steckdosen.schlafzimmer.bett_links', 'og.licht.schlafzimmer.schrank'], 'Alles ausgeschaltet.', 'message_ok.svg', 0, 'and', 'icon1') }}</p>
            <p>{{ basic.symbol('', ['og.licht.bad.decke', 'og.licht.bad.dusche', 'og.licht.bad.spiegel', 'og.steckdosen.bad.waschtisch'], 'Badezimmer: Licht an.', 'scene_shower.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'og.licht.kind_1.gesamt', 'Moritz: Licht an.', 'scene_childs_room.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'og.licht.kind_2.gesamt', 'Kind 2: Licht an.', 'scene_baby.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', ['og.licht.schlafzimmer.decke', 'og.steckdosen.schlafzimmer.bett_rechts', 'og.steckdosen.schlafzimmer.bett_links', 'og.licht.schlafzimmer.schrank'], 'Schlafzimmer: Licht an.', 'scene_sleeping_alternat.svg', 1, 'or') }}</p>
        </div>
    </div>

    <div class="block one-third window-status">
        <div class="ui-bar-c ui-li-divider ui-corner-top">Status Keller</div>
        <div class="ui-fixed ui-body-a ui-corner-bottom">
            <p>{{ basic.symbol('', ['kg.licht.treppe.wand', 'kg.licht.diele', 'kg.licht.vorrat', 'kg.steckdosen.multimedia.beamer', 'kg.steckdosen.multimedia.audio', 'kg.licht.waschen', 'kg.licht.hobby', 'kg.steckdosen.multimedia.zweiundsechzig', 'kg.steckdosen.multimedia.dreiundsechzig'], 'Alles ausgeschaltet.', 'message_ok.svg', 0, 'and', 'icon1') }}</p>
            <p>{{ basic.symbol('', 'kg.licht.waschen', 'Waschen: Licht an.', 'scene_laundry_room_fem.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'kg.licht.hobby', 'Werkstatt: Licht an.', 'scene_workshop.svg', 1, 'or') }}</p>
            <!--<p>todo: basic.symbol('statusLichtMultimedia', ['eg.licht.kueche.essen', 'eg.steckdosen.kueche.arbeitsplatte'], 'Hobby: Licht an.', 'scene_dinner.svg', 1, 'or') </p>-->
            <p>{{ basic.symbol('', ['kg.steckdosen.multimedia.zweiundsechzig', 'kg.steckdosen.multimedia.dreiundsechzig'], 'Hobby: Steckdose eingeschaltet.', 'message_socket.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'kg.steckdosen.multimedia.audio', 'Hobby: Audio eingeschaltet.', 'audio_volume_high.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'kg.steckdosen.multimedia.beamer', 'Hobby: Beamer eingeschaltet.', 'scene_cinema.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'kg.licht.vorrat', 'Vorrat: Licht an.', 'scene_cubby.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', 'kg.licht.diele', 'Flur: Licht an.', 'scene_corridor.svg', 1, 'or') }}</p>
            <p>{{ basic.symbol('', ['kg.licht.treppe.wand'], 'Treppenhaus: Licht an.', 'scene_stairs.svg', 1, 'or') }}</p>
        </div>
    </div>
{% endblock %}
