{% extends "base.html" %}

{% block sidebar %}

    {% include "stats/navigation.html" %}

{% endblock %}

{% block content %}

<div data-role="navbar" class="nav-custom visible-phone">
	<ul>
		<li><a href="index.php?page=stats/licht" class="licht" data-icon="custom">Licht</a></li>
		<li><a href="index.php?page=stats/rolllaeden" class="rollos" data-icon="custom">Rollläden</a></li>
		<li><a href="index.php?page=stats/heizung" class="heizung" data-icon="custom">Heizung</a></li>
		<li><a href="index.php?page=stats/smarthome" class="smarthome" data-icon="custom">Smarthome</a></li>
		<li><a href="index.php?page=stats/system" class="ui-btn-active ui-state-persist  system" data-icon="custom">System</a></li>
	</ul>
</div>

<h1 class="visible-tablet"><img class="icon" src='{{ icon0 }}it_server.png' />System</h1>
<hr />
<div class="block full-width">
	<div class="set-5" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Uptime</h3>
			{{ basic.value('system.uptime', 'system.uptime') }}
		</div>

	</div>
</div>
<div class="block">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>CPU Load</h3>
			{{ plot.period('system.load-plot', 'env.system.load', 'avg') }}
		</div>

	</div>
</div>
<div class="block">
	<div class="set-2" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Speicherverbrauch</h3>
			{{ plot.period('system.memory-plot', 'system.memory', 'avg') }}
		</div>

	</div>
</div>

{% endblock %}

