{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}status_away_2.svg'/>
        Eingang
    </h1>
    <hr />
    <div class="block">
        <div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Licht</h3>
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'aussen.licht.eingang', 'icon', [0, 1], 'light_corridor.svg', '', ['icon0', 'yellow']) }} </td>
                        <td>Eingang</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'aussen.licht.vorgarten', 'icon', [0, 1], ['light_bollard_2.svg', 'light_bollard_2.svg'], '', ['icon0', 'yellow']) }} </td>
                        <td>Vorgarten</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Klingel</h3>
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eingang.klingel.licht', 'icon', [0, 1], ['status_light_low.svg', 'status_light_high.svg'], '', ['icon0', 'yellow']) }} </td>
                        <td>Licht</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'eingang.klingel.sperre', 'icon', [0, 1], ['audio_volume_high.svg', 'audio_volume_mute.svg'], '', ['icon0', 'red']) }} </td>
                        <td>Sperre</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}