{% extends "rooms.html" %}
{% block content %}
    <h1>
        <img class="icon icon0" src='{{ icon0 }}fts_garage.svg'/>
        Garage
    </h1>
    <hr />

    <div class="block">
        <div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Schalten</h3>
                <table width="90%">
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'garage.licht', 'icon', [0, 1], 'light_garage.svg', '', ['icon0', 'icon1']) }}</td>
                        <td>Licht</td>
                    </tr>
                    <tr>
                        <td align="left" width="100px">&nbsp; {{ basic.stateswitch('', 'garage.pumpe', 'icon', [0, 1], 'sani_domestic_waterworks.svg', '', ['icon0', 'icon1']) }}</td>
                        <td>Pumpe</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Tor</h3>
                {{ basic.stateswitch('', 'garage.tor.auf', 'midi', [1], 'control_arrow_up.svg', 'Auf', ['icon0']) }}
                {{ basic.symbol('', 'garage.tor.offen', '', 'fts_garage.svg', 1, '', 'red') }}
                {{ basic.symbol('', ['garage.tor.offen', 'garage.tor.geschlossen'], '', 'fts_garage_door_50.svg', 0, 'and', 'orange') }}
                {{ basic.symbol('', 'garage.tor.geschlossen', '', 'fts_garage_door_100.svg', 1, '', 'lime') }}
                {{ basic.stateswitch('', 'garage.tor.ab', 'midi', [1], 'control_arrow_down.svg', 'Ab', ['icon0']) }}
            </div>
        </div>
    </div>

    <div class="block full-width">
        <div class="set-4" data-role="collapsible-set" data-theme="c" data-content-theme="a" data-mini="true">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Sicherheit</h3>
                <table width="90%">
                    <tr>
                        <td>
                            {{ basic.symbol('', 'garage.tuer', ['Tür geschlossen', 'Tür geöffnet'], ['fts_door.svg','fts_door_open.svg'], [0,1], 'or', ['lime','red']) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ basic.symbol('', 'garage.fenster', ['Fenster geschlossen', 'Fenster geöffnet'], ['fts_window_2w.svg','fts_window_2w_open_lr.svg'], [0,1], 'or', ['lime','orange']) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
